<div style="border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 1rem; padding-top: 0px;">
    <div>
        <p>
            <span style="font-size: larger; font-weight: bold;">Basil</span>
            | <a href="https://twitter.com/itbwtsh">@itbwtsh</a>
        </p>
        <p style="margin: 0%" class="dark-gray">
            Tech, Science, Design, Economics, Finance, and Books.<br />
            Basil blogs about complex topics in simple words.<br />
            This blog is his passion project. 
        </p>
        <!-- <span><a href="https://twitter.com/BasilLabib">@BasilLabib</a> on <img width="25px" src="/twitter-logo.png" /></span> -->

    </div>
</div>