<div>
  {{ $droplets := getJSON "https://vera.deta.dev" "/payload"}}
  <ul style=" padding: 0;">
    {{ range sort $droplets "ts" "desc" }}
    <li style="
    list-style: none;
    border: 1px grey solid;
    background-color: rgb(240, 240, 255);
    padding: 0.5em;
    margin: 0.5em;
    ">
      <div style="display: grid;
      grid-template-columns: 3fr 1fr;
      ">
        <div>
          {{ if .title}}
          <div>
            <strong>{{ .title | markdownify }}<br /></strong>
          </div>
          {{ end }}
          {{ .body | markdownify }}
        </div>
        <div>
          <small>
            {{ .ts }}
          </small>
        </div>
        {{ if .imgs }}
        <div class="image-drawer">
          {{ range .imgs }}
            <img src="{{ . }}">
          {{ end }}
        </div>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
</div>