{{- /*
Usage:
  {{< gist id="gistid" file="example.py" s="10" e="23" >}}
*/ -}}
{{ $gistID := .Get "id" }}
{{ $file := .Get "file" }}
{{ $lineStart := .Get "s" | default "1" | int }}
{{ $lineEnd := .Get "e" | default "999999" | int }}

{{ $rawURL := printf "https://gist.githubusercontent.com/basil08/%s/raw" $gistID }}
{{ $viewURL := printf "https://gist.github.com/%s" $gistID }}

{{ $content := "" }}
{{ with try (resources.GetRemote $rawURL) }}
  {{ with .Value }}{{ $content = .Content }}{{ end }}
{{ end }}

{{ if not $content }}
  {{ warnf "gist shortcode: could not fetch %s (page %s)" $rawURL $.Page.Path }}
  <p class="gist-error">Could not load gist <a href="{{ $viewURL }}">{{ $gistID }}</a>.</p>
{{ else }}
  {{ $lines := slice }}
  {{ range $i, $line := split ($content | safeHTML) "\n" }}
    {{ $ln := add $i 1 }}
    {{ if and (ge $ln $lineStart) (le $ln $lineEnd) }}
      {{ $lines = $lines | append $line }}
    {{ end }}
  {{ end }}
  {{ $ext := replace (path.Ext $file) "." "" }}

  <div class="gist-snippet-container">
    <div class="gist-header">{{ $file }}</div>
    {{ highlight (delimit $lines "\n") $ext "" }}
    <div class="gist-footer">
      <a href="{{ $viewURL }}">View full gist &rarr;</a>
    </div>
  </div>
{{ end }}
