{{- /*
Parameters:
  type   - (required) album / track / playlist / artist
  id     - (required) target id
  width  - (optional) default 100%
  height - (optional) default 380
*/ -}}
{{- $type := cond .IsNamedParams (.Get "type") (.Get 0) -}}
{{- $id := cond .IsNamedParams (.Get "id") (.Get 1) -}}
{{- $width := cond .IsNamedParams (.Get "width") (.Get 2) | default "100%" -}}
{{- $height := cond .IsNamedParams (.Get "height") (.Get 3) | default "380" -}}
<iframe class="embed-spotify"
  src="https://open.spotify.com/embed/{{ $type }}/{{ $id }}"
  width="{{ $width }}" height="{{ $height }}"
  frameborder="0" loading="lazy"
  allow="encrypted-media" title="Spotify embed"></iframe>
